*{
    margin: 0px;
    padding: 0px;
}
.total-body{
    position :absolute;
    width:100%;
}
.body-part-center {
    height: auto;
    width: 30%;
    margin: 100px auto;
    position: relative;
    border : 2px solid green;
}
.body-part-center-1{
    padding: 10px;

}
.body-part-center-title {
    font-size: 30px;
    position: relative;
    left:6%;
}
.body-part-center-content{
    position: relative;
    padding: 20px;
}
.body-part-center-input {
    left:5%;
    width: 90%;
    height: 40px;
    margin :5px 0px;
    position: relative;
}
.body-part-forgot{
    float: right;
    position: relative;
    right: 15%;
    font-size: 20px;
    color: red;
    margin: 5px 0px;
    
}
.body-part-button{
    width: 30%;
    height: 35px;
    position: relative;
    left :35%;
    margin-top: 40px;
    font-size: 15px;
    
    
}
.in{
    background-color: lawngreen;
}
.up{
    background-color: darkgrey;
    
}
.sign-in {
    width : 85%;
    position: relative;
    height: 50px;
    left: 7%;
    font-size:15px;
    margin : 5px 0px;
    padding : 10px 0px;     
}
.facebook{
    background-color:#4267b2;
    color: white;
}
.google{
    background-color:#e36551;
    color: white;
}


                    