*{
    margin: 0px;
    padding: 0px;
}
.total-body{
    position :absolute;
    width:100%;
}
.body-part-center {
    height:auto;
    width: 30%;
    margin: 100px auto;
    position: relative;
    border : 2px solid green;
}
.body-part-center-1{
    padding: 10px;

}
.body-part-center-title {
    font-size: 30px;
    position: relative;
    left:2%;
}
.body-part-center-content{
    position: relative;
    padding: 20px;
}
.body-part-center-input {
    width: 70%;
    float: left;
    height: 40px;
    margin :5px 0px 5px 10px;
    position: relative;
}
.body-part-center-criteria{
    width:20%;
    height: 40px;
    position: relative;
    float:left;
    margin-top:12px;

}
.body-part-forgot{
    float: right;
    position: relative;
    right: 5%;
    
}
.body-part-button{
    width: 35%;
    height: 40px;
    position: relative;
    left :30%;
    margin-top: 40px;
    font-size: 15px;
    padding: 10px 0px ;
    
}
.in{
    background-color: lawngreen;
}
.up{
    background-color: darkgrey;
    
}
.note{
    top:30px;
    position: relative;
    width: 90%;
    left:5%;
}
.connect {
    width : 40%;
    position: relative;
    height: 50px;
    left: 10%;
    font-size:15px;
    margin : 5px 0px;
    padding : 10px 0px; 
    float: left;
}
.body-part-other{
    height: 60px;
    width: auto;
}
.facebook{
    background-color:#4267b2;
    color: white;
}
.google{
    background-color:#e36551;
    color: white;
}


                    